@import "tailwindcss";

@layer components {
  .input-field {
    @apply w-full rounded-lg border border-gray-300 px-3 py-2 text-sm focus:border-brand-teal focus:outline-none focus:ring-1 focus:ring-brand-teal;
  }
}

@theme {
  --color-brand-teal: #265463;
  --color-brand-blue: #207AD5;
  --color-brand-yellow: #F5DE5C;
  --color-brand-coral: #F07878;
  --color-brand-gray: #DBE0EB;
  --color-brand-sage: #91C9BF;
  --color-brand-offwhite: #FAFAFA;
  --color-brand-dark: #242424;
}
